<a href="https://colab.research.google.com/github/KadaliDharani/Basic-ML/blob/main/fake%20news%20predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Fake News Classifier

As time flows, the amount of data, especially text data increases exponentially. Along with the data, our understanding of AI also increases and the computing power enables us to train very complex and large models faster. Fake news has been gathering a lot of attention worldwide recently. The effects can be political, economic, organizational, or even personal.

In [9]:
import pandas as pd

In [22]:
df=pd.read_csv('train.csv.zip')

getting the first n rows:

In [23]:
df.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [24]:
x=df.drop('label',axis=1)

In [25]:
x.head()

   id  ...                                               text
0   0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1   1  ...  Ever get the feeling your life circles the rou...
2   2  ...  Why the Truth Might Get You Fired October 29, ...
3   3  ...  Videos 15 Civilians Killed In Single US Airstr...
4   4  ...  Print \nAn Iranian woman has been sentenced to...

[5 rows x 4 columns]

labeling the data:

In [26]:
y=df['label']

In [27]:
y.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

finding the shape of the data:

In [57]:
df.shape

(18285, 5)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer

In [30]:
df=df.dropna()

In [58]:
df.head(10)

    id  ... label
0    0  ...     1
1    1  ...     0
2    2  ...     1
3    3  ...     1
4    4  ...     1
5    5  ...     0
7    7  ...     0
9    9  ...     0
10  10  ...     0
11  11  ...     0

[10 rows x 5 columns]

copying the data:

In [31]:
messages=df.copy()

In [32]:
messages.reset_index(inplace=True)

In [51]:
messages.head(10)

   index  id  ...                                               text label
0      0   0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...     1
1      1   1  ...  Ever get the feeling your life circles the rou...     0
2      2   2  ...  Why the Truth Might Get You Fired October 29, ...     1
3      3   3  ...  Videos 15 Civilians Killed In Single US Airstr...     1
4      4   4  ...  Print \nAn Iranian woman has been sentenced to...     1
5      5   5  ...  In these trying times, Jackie Mason is the Voi...     0
6      7   7  ...  PARIS  —   France chose an idealistic, traditi...     0
7      9   9  ...  A week before Michael T. Flynn resigned as nat...     0
8     10  10  ...  Organizing for Action, the activist group that...     0
9     11  11  ...  The BBC produced spoof on the “Real Housewives...     0

[10 rows x 6 columns]

In [33]:
messages['title'][6]

'Benoît Hamon Wins French Socialist Party’s Presidential Nomination - The New York Times'

In [90]:
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords 
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
corpus=[]
for i in range(0, len(messages)):
  review = re.sub('[^a-zA-Z]',' ',messages['title'][i])
  review = review.lower()
  review = review.split()

  review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
  review = ' '.join(review)
  corpus.append(review)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [105]:
corpus[5]

'jacki mason hollywood would love trump bomb north korea lack tran bathroom exclus video breitbart'

In [93]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,ngram_range=(1,3))
x=cv.fit_transform(corpus).toarray()

In [94]:
x.shape

(18285, 5000)

In [95]:
y=messages['label']

In [96]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.33, random_state=0)

In [97]:
cv.get_feature_names()[:20]

['abandon',
 'abc',
 'abc news',
 'abduct',
 'abe',
 'abedin',
 'abl',
 'abort',
 'abroad',
 'absolut',
 'abstain',
 'absurd',
 'abus',
 'abus new',
 'abus new york',
 'academi',
 'accept',
 'access',
 'access pipelin',
 'access pipelin protest']

In [99]:
cv.get_params()

{'analyzer': 'word',
 'binary': False,
 'decode_error': 'strict',
 'dtype': numpy.int64,
 'encoding': 'utf-8',
 'input': 'content',
 'lowercase': True,
 'max_df': 1.0,
 'max_features': 5000,
 'min_df': 1,
 'ngram_range': (1, 3),
 'preprocessor': None,
 'stop_words': None,
 'strip_accents': None,
 'token_pattern': '(?u)\\b\\w\\w+\\b',
 'tokenizer': None,
 'vocabulary': None}

In [101]:
count_df=pd.DataFrame(x_train, columns=cv.get_feature_names())

In [102]:
count_df.head()

   abandon  abc  abc news  abduct  ...  zone new york  zoo  zu  zuckerberg
0        0    0         0       0  ...              0    0   0           0
1        0    0         0       0  ...              0    0   0           0
2        0    0         0       0  ...              0    0   0           0
3        0    0         0       0  ...              0    0   0           0
4        0    0         0       0  ...              0    0   0           0

[5 rows x 5000 columns]

In [103]:
import matplotlib.pyplot as plt

In [114]:
def plot_confusion_matrix(cm,classes,
                          normalize=False,
                          title='Confusion Matrix',
                          cmap=plt.cm.Blues):
 plt.imshow(cm, interpolation='nearest', cmap=cmap)
 plt.title(title)
 plt.colorbar()
 tick_marks=np.arange(len(classes))
 plt.xticks(tick_marks,classes,rotations=45)
 plt.yticks(tick_marks,classes)

 if normalize:
  cm=cm.astype('float')/cm.sum(axis=1)[:,np.newaxis]
  print("Normalized confusion matrix")
 else:
  print('Confusion matrix, without normalization')
 thresh=cm.max()/2
 for i,j in intertools.product(range(cm.shape[0]),range(cm.shape[1])):
   plt.text(j,i,cm[i,j],
            horizontalalignment="center",
            color='while' if cm[i,j] > thresh else "black")
 plt.tight_layout()
 plt.ylabel('True label')
 plt.xlabel('Predicted label')

###MultinomialNB Algorithm


MultinomialNB implements the naive Bayes algorithm for multinomially distributed data, and is one of the two classic naive Bayes variants used in text classification (where the data are typically represented as word vector counts, although tf-idf vectors are also known to work well in practice).

In [115]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB()

importing the libraries:

In [116]:
from sklearn import metrics
import numpy as np
import itertools

In [193]:
classifier.fit(x_train,y_train)
pred=classifier.predict(x_test)
score=metrics.accuracy_score(y_test,pred)
print("accuracy:   %0.3f" % score)
cm=metrics.confusion_matrix(y_test,pred)

accuracy:   0.902

In [148]:
classifier.fit(x_train,y_train)
pred=classifier.predict(x_test)
score=metrics.accuracy_score(y_test,pred)
score

0.9019055509527755

In [149]:
y_train.shape

(12250,)

### Passive Aggressive Classifier Algorithm

In [170]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from PIL import Image
from PIL import ImageDraw
from PIL import ImageFont

In [152]:
from sklearn.linear_model import PassiveAggressiveClassifier
linear_clf=PassiveAggressiveClassifier( n_iter_no_change = 50)

In [195]:
linear_clf.fit(x_train,y_train)
pred=linear_clf.predict(x_test)
score=metrics.accuracy_score(y_test,pred)
cm=metrics.confusion_matrix(y_test,pred)

###Multinomial Classifier with Hyperparameter

In [177]:
classifier=MultinomialNB(alpha=0.1)

In [179]:
previous_score=0
for alpha in np.arange(0,1,0.1):
  sub_classifier=MultinomialNB(alpha=alpha)
  sub_classifier.fit(x_train,y_train) 
  y_pred=sub_classifier.predict(x_test)
  score=metrics.accuracy_score(y_test,y_pred)
  if score>previous_score:
    classifier=sub_classifier
  print("alpha:{} , score:{} ".format(alpha,score))

/usr/local/lib/python3.7/dist-packages/sklearn/naive_bayes.py:507: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

alpha:0.0 , score:0.8903065451532726
alpha:0.1 , score:0.9020712510356255
alpha:0.2 , score:0.9025683512841757
alpha:0.30000000000000004 , score:0.9024026512013256
alpha:0.4 , score:0.9017398508699255
alpha:0.5 , score:0.9015741507870754
alpha:0.6000000000000001 , score:0.9022369511184756
alpha:0.7000000000000001 , score:0.9025683512841757
alpha:0.8 , score:0.9015741507870754
alpha:0.9 , score:0.9017398508699255

In [180]:
feature_names=cv.get_feature_names()

In [181]:
classifier.coef_[0]

array([ -9.10038883,  -8.62276128,  -9.10038883, ..., -10.79498456,
        -8.91467169,  -9.32864749])

In [182]:
###most real
sorted(zip(classifier.coef_[0],feature_names),reverse=True)[:20]

[(-4.000149156604985, 'trump'),
 (-4.287872694443541, 'hillari'),
 (-4.396389621061519, 'clinton'),
 (-4.899969726208735, 'elect'),
 (-5.176598600897756, 'new'),
 (-5.234730366348767, 'comment'),
 (-5.273968180973631, 'video'),
 (-5.3868167681180115, 'war'),
 (-5.396821854078974, 'us'),
 (-5.412019714988405, 'hillari clinton'),
 (-5.417137433425386, 'fbi'),
 (-5.48068448454208, 'vote'),
 (-5.566255475855405, 'email'),
 (-5.578238842742501, 'world'),
 (-5.634015380199913, 'obama'),
 (-5.734501455772904, 'donald'),
 (-5.763095255139644, 'donald trump'),
 (-5.785090276725191, 'russia'),
 (-5.846224665218559, 'day'),
 (-5.862110622807369, 'america')]

In [183]:
sorted(zip(classifier.coef_[0],feature_names))[:20]

[(-10.794984555596727, 'abe'),
 (-10.794984555596727, 'abroad'),
 (-10.794984555596727, 'abus new'),
 (-10.794984555596727, 'abus new york'),
 (-10.794984555596727, 'act new'),
 (-10.794984555596727, 'act new york'),
 (-10.794984555596727, 'advic'),
 (-10.794984555596727, 'advis new'),
 (-10.794984555596727, 'advis new york'),
 (-10.794984555596727, 'age new'),
 (-10.794984555596727, 'age new york'),
 (-10.794984555596727, 'agenda breitbart'),
 (-10.794984555596727, 'ail'),
 (-10.794984555596727, 'aleppo new'),
 (-10.794984555596727, 'aleppo new york'),
 (-10.794984555596727, 'ali'),
 (-10.794984555596727, 'america breitbart'),
 (-10.794984555596727, 'america new york'),
 (-10.794984555596727, 'american breitbart'),
 (-10.794984555596727, 'american new')]